html{
    height: 100%;
}

body{
    background-image: linear-gradient(#FC5E55,#FA4083);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
     
}

.container{
    width: 1024px;
    min-height: 300px;
    margin: 0 auto 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}


header nav{
    display: flex;
}


main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.herobox1{
    flex: 2;
    padding-right: 100px;
}

.herobox2{
    flex: 1;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card1{
    background-image: url(images/image-background-card1.jpg);
    width: 30%;
    min-height: 250px;
    background-size: cover;
}

.card2{
    background-image: url(images/image-background-card2.jpg);
    width: 30%;
    min-height: 250px;
    background-size: cover;
}

.card3{
    background-image: url(images/image-background-card3.jpg);
    width: 30%;
    min-height: 250px;
    background-size: cover;
}


h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    margin-bottom: 1rem;
}

p{
    line-height: 1.75rem;
    margin-bottom: .5rem;
}